<div class="container">
<!--  <form [formGroup]="addIdee" (ngSubmit)="saveIdee()">-->
<!--    <div class="mb-3">-->
<!--      <label for="exampleInputEmail1" class="form-label">Titre de l'idee</label>-->
<!--      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">-->
<!--    </div>-->
    <div class="mb-3">
      <label for="nom" class="form-label">Votre nom</label>
      <input [(ngModel)]='nom' class="form-control" id="nom">
      Votre nom est: {{nom}}
    </div>
<!--    <button type="submit" class="btn btn-primary">Soumettre</button>-->
<!--  </form>-->
<!--</div>-->
